* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main-section {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 144px;
}

.header-section {
  background-color: #1992d4;
  padding: 34px;
  overflow: hidden;
  background: none;
  display: flex;
  position: relative;
}

.header-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3498db;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
  z-index: 0; /* Behind content */
}

.header-section-polygon {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section {
  background: url("./images/imageOne.jpg");
  background-size: cover;
  background-position: center;
  object-fit: contain;
  width: 50%;
  height: 60vh;
}

.image-section h1 {
  font-size: 6rem;
  position: absolute;
  bottom: 0;
  left: 15%;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.paragraph {
  width: 35%;
  color: white;
  padding: 64px;
  line-height: 2rem;
  border: 1px solid white;
  font-size: 12px;
  box-shadow:
    0 0 10px rgba(0, 0, 0, 0.2),
    /* left shadow */ 5px 0 10px rgba(46, 45, 45, 0.2); /* right shadow */
  border-left: none;
}

.paragraph h1 {
  margin-bottom: 4rem;
}

.icons {
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: black;
  padding: 24px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 12%;
}

.my-work {
  padding: 14px;
  display: flex;
  justify-content: space-between;
}

.inner-card {
  background: url("./images/projectOne.jpg");
  height: 140px;
  opacity: 0.4;
}

.inner-card-two {
  background: url("./images/imageNine.jpg");
  height: 140px;
  opacity: 0.4;
}
.inner-card-three {
  background: url("./images/imageSeven.jpg");
  height: 140px;
  opacity: 0.4;
  background-size: cover;
  background-position: 50%;
}
.card {
  height: 300px;
  padding: 14px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25%;
  box-shadow:
    0 0 10px rgba(0, 0, 0, 0.2),
    /* left shadow */ 5px 0 10px rgba(46, 45, 45, 0.2); /* right shadow */
  margin-bottom: 6rem;
}

.card h1 {
  margin-top: 2rem;
  color: rgb(15, 14, 14);
}

.card p {
  color: rgb(15, 14, 14);
  line-height: 2rem;
}

.title-icons {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
}

.outer-section-title {
  font-size: 44px;
  margin-bottom: 24px;
}
.my-work {
  display: flex;
  justify-content: space-between;
  gap: 54px;
}

.inner-card-four {
  background: url("./images/imageSeven.jpg");
  height: 140px;
  opacity: 0.4;
  background-size: cover;
  background-position: 50%;
}

.inner-card-five {
  background: url("./images/imageSix.jpg");
  height: 140px;
  opacity: 0.4;
  background-size: cover;
  background-position: 50%;
}

.inner-card-six {
  background: url("./images/imageNine.jpg");
  height: 140px;
  opacity: 0.4;
  background-size: cover;
  background-position: 50%;
}

.footer-image {
  background: url("./images/imageOne.jpg");
  background-position: center;
  background-size: cover;
  width: 40%;
  height: 50vh;
}

.footer-section {
  height: 500px;
  background-color: #1992d4;
  padding: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section h1 {
  font-size: 30px;
}

.phone-div-footer {
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}

.email-div-footer {
  display: flex;
  width: 64%;
  justify-content: space-between;
  align-items: center;
}
.footer-div {
  margin-right: 24px;
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  line-height: 35px;
  gap: 34px;
  height: 340px;
}

.icons-footer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  width: 30%;
  color: black;
}

/* media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .main-section {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .paragraph {
    display: inline-block;
    padding: 74px;
    width: 60%;
  }

  .image-section {
    float: left;
    position: relative;
    bottom: 6rem;
    width: 60%;
  }

  .my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6,
  .card7,
  .card8 {
    width: 45%;
  }

  .card3,
  .card6 {
    display: none;
  }

  .block-divs {
    display: flex;
    justify-content: space-between;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
